    <script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/jquery.easing.min.js"></script>
	<script src="/js/jquery.numeric.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	<script src="/js/user/profile.js"></script>
	<script src="/js/session/signup.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        var errors = [];

        {% for error in page.flash.error %}
            errors.push('{{error}}');
            {% endfor %}
            for (var error in errors) {
                toastr.error(errors[error]);
            }

        var successes = [];

        {% for success in page.flash.success %}
            successes.push('{{success}}');
            {% endfor %}
            for (var success in successes) {
                toastr.success(successes[success]);
            }
    </script>
  </body>
</html>