{% if page.advertisement != null %}

    <div class="container">
        <br>
        <br>
        <h3>
            {% if page.advertisement.status == "1" %}
                <span class="label label-success">Available</span>
            {% endif %}
            {% if page.advertisement.status == "2" %}
                <span class="label label-danger">Closed</span>
            {% endif %}
            {{ page.advertisement.title }}
            {% if page.advertisement.status == "1" %}
                {% if page.user.usertype != "1" %}
                    <a class="btn btn-primary advertisement-control-button" href="/advertisement/makeoffer/{{ page.advertisement.id}}">Make Offer!</a>
                {% endif %}
            {% endif %}
            {% if page.advertisement.owner == page.user.id %}
                {% if page.advertisement.status == "1" %}
                    <a class="btn btn-danger advertisement-control-button" href="/advertisement/close/{{ page.advertisement.id }}">Close Advertisement</a>
                {% endif %}
                {% if page.advertisement.status == "2" %}
                    <a class="btn btn-success advertisement-control-button" href="/advertisement/open/{{ page.advertisement.id }}">Open Advertisement</a>
                {% endif %}
                <a class="btn btn-primary advertisement-control-button" href="/offers/view/{{ page.advertisement.id }}">View Offers</a>
            {% endif %}
        </h3>
        <h5 class="info-subheading">Advertisement, Posted by <a href="/user/{{ page.advertisement.parentOwner.id }}">{{ page.advertisement.parentOwner.name }}</a></h5>

        <br>
        <br>

        <div class="row">
            <div class="col-md-3">
                <h4>{{ page.advertisement.startdate }}</h4>
                <h5 class="info-subheading">Start Date</h5>
                <h4>{{ page.advertisement.enddate }}</h4>
                <h5 class="info-subheading">End Date</h5>
                <h4>{{ page.advertisement.location }}</h4>
                <h5 class="info-subheading">Location</h5>
                <h4>{{ page.advertisement.salary }}</h4>
                <h5 class="info-subheading">Salary</h5>
                <h4>{{ page.advertisement.category }}</h4>
                <h5 class="info-subheading">Category</h5>

                {% for tag in page.advertisement.tags %}
                    <h5 class="advertisement-tags"><span class="label label-warning"><i class="fa fa-tag"></i> {{ tag }}</span></h5>
                {% endfor %}
                <h5 class="info-subheading">Tags</h5>

                <h4>{{ page.advertisement.created }}</h4>
                <h5 class="info-subheading">Posted On</h5>
            </div>
            <div class="col-md-9">
                <h4>{{ page.advertisement.description }}</h4>
                <h5 class="info-subheading">Description</h5>

                <br>
                <iframe height="450" frameborder="0" style="border:0; width: 100%" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDAxEaR0mjQoxocpuLs3JbZW4VG4EG5ZSA&q={{ page.advertisement.location }}" allowfullscreen></iframe>
                <h5 class="info-subheading">Location</h5>
            </div>
        </div>

    </div>

{% endif %}

{% if page.advertisement == null %}

    <div class="container">
        <br>
        <div class="alert alert-danger" role="alert"><strong>Unable to find Advertisement</strong> Please check the URL and try again.</div>
    </div>

{% endif %}