<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">
                About Us
            </div>
            <div class="intro-follow">
                We're here to help you
            </div>
                <div>
                    <button class="btn btn-lg btn-primary about-button-text" type="submit">Sign Up Now</button>
                </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="about-sub-heading">
            What we offer
        </div>
        <div>
            <p class="about-para">
                Information about our company, bla bla bla bla bla
            </p>
        </div>
    </div>
</section>