<section><div class="container">
    <h1>Frequently Asked Questions</h1>
    <div class="col-md-6">
        <h4>Q. Does Labourhire handle payments?</h4>
        <p>A. No, Labourhire is a service to help employers and labourers find one another, payment must be arranged independently</p>
        <br />
        <h4>Q. Is labourhire a government funded program?</h4>
        <p>A. No, Labourhire is run by an independent team of web developers</p>
    </div>
    <div class="col-md-6">
        <h4>Q. What if there are issues with the work arrangement?</h4>
        <p>A. Labourhire takes no responsibility for the contact between workers and labourers. The rating system is designed
            to provide an indication of a users credibility.</p>
    </div>
</div>
</section>
