<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">
                Start searching for jobs now
            </div>
                <div class="intro-search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." name="query" id="home-search-input" required autofocus>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" id="home-search" type="submit">Search</button>
                        </span>
                    </div>
                </div>
        </div>
    </div>
</header>
<div class="container advertisements-container">
    <h2>Some new advertisements</h2>
    <div id="advertisements-holder">
    </div>
</div>