<div class="container">
	<h1>Profile</h1>
	<div id="detailsSection" class="row">
		<div id="displayDetails" class="col-md-6">
			<div id="details_name"><h4>Name</h4><p>{{page.user.name}}</p></div>
			{% if page.user.usertype == "1" %}
			<div id="details_companyname"><h4>Company Name</h4><p>{{page.user.companyname}}</p></div>
			<div id="details_companylocation"><h4>Company Location</h4><p>{{page.user.companylocation}}</p></div>
			{% endif %}
			<div id="details_email"><h4>Email</h4><p>{{page.user.email}}</p></div>
			<div id="details_contactno"><h4>Contact Number</h4><p>{{page.user.contactno}}</p></div>
			<div id="details_about"><h4>About</h4><p id="userAbout">{{page.user.aboutme}}</p></div>

			{% if page.user.usertype == "0" %}
			<div id="details_qualifications"><h4>Qualifications</h4><p>{{page.user.qualifications}}</p></div>
			{% endif %}

			{% if page.user.usertype == "1" %}
			<div id="details_website"><h4>Website</h4><p>{{page.user.website}}</p></div>
			{% endif %}

			<br>
			<button class="btn btn-primary" id="editDetailsButton">Edit Details</button>
		</div>

		<div id="editDetails" class="col-md-6" style="display: none;">
			<form  class="form-profile" method="POST">
				<div class="form-group has-feedback">
					<label for="profile[name]">Name</label>
					<input type="text" value="{{page.user.name}}" name="profile[name]" id="profile[name]" required autofocus class="form-control"/>
				</div>
				{% if page.user.usertype == "1" %}
				<div class="form-group has-feedback">
					<label for="profile[companyname]">Company Name</label>
					<input type="text" id="profile[companyname]" name="profile[companyname]" value="{{page.user.companyname}}" required class="form-control"/>
				</div>
				<div class="form-group has-feedback">
					<label for="profile[companylocation]">Company Location</label>
					<input type="text" id="profile[companylocation]" name="profile[companylocation]" value="{{page.user.companylocation}}" class="form-control"/>
				</div>
				{% endif %}
				<div class="form-group has-feedback">
					<label for="profile[email]">Email</label>
					<input type="text" value="{{page.user.email}}" id="profile[email]" name="profile[email]" required class="form-control"/>
				</div>
				<div class="form-group has-feedback">
					<label for="profile[contactno]">Contact Number</label>
					<input type="text" value="{{page.user.contactno}}" id="profile[contactno]" name="profile[contactno]" class="form-control" required/>
				</div>
				<div class="form-group has-feedback">
					<label for="profile[aboutme]">About Me</label>
					<textarea id="profile[aboutme]" name="profile[aboutme]" class="form-control input-lg" rows="3" required>{{page.user.aboutme}}</textarea>
				</div>
					{% if page.user.usertype == "0" %}
				<div class="form-group has-feedback">
					<label for="profile[qualifications]">Qualifications</label>
					<textarea id="profile[qualifications]" name="profile[qualifications]" class="form-control input-lg" rows="3" value="{{page.user.qualifications}}">{{page.user.qualifications}}</textarea>
				</div>
				{% endif %}
				{% if page.user.usertype == "1" %}
				<div class="form-group has-feedback">
					<label for="profile[website]">Website</label>
					<input type="text" id="profile[website]" name="profile[website]" value="{{page.user.website}}" class="form-control"/>
				</div>
				{% endif %}
				<br>
				<button class="btn btn-default" type="reset" id="cancelEditDetails">Cancel</button>
				<button class="btn btn-primary" type="submit" id="updateUserDetails">Submit</button>
			</form>
		</div>
		{% if page.user.usertype == "1" %}
			<div class="col-md-6">
				<h2 style="margin-top: 0">My Advertisements</h2>
				<br>
				{% for advertisement in page.advertisements %}
					<div class="profile-advertisement-listing panel-listing">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5>
									{% if advertisement.status == "2" %}
										<span class="label label-danger">Closed</span>
									{% endif %}
									{% if advertisement.status == "1" %}
										<span class="label label-success">Available</span>
									{% endif %}
									{{ advertisement.title }}
								</h5>
							</div>
							<div class="panel-body">
								<h5>Description</h5>
								<p>{{ advertisement.description }}</p>
								<br>
								<br>
								<a class="btn btn-primary" style="float: right" href="/advertisement/{{ advertisement.id }}">View Advertisement</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if page.user.usertype == "0" %}
			<div class="col-md-6">
				<h2 style="margin-top: 0">My Offers</h2>
				<br>
				{% for offer in page.offers %}
					<div class="profile-offer-listing panel-listing">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h5>
									{% if offer.status == "0" %}
										<span class="label label-warning">Pending</span>
									{% endif %}
									{% if offer.status == "1" %}
										<span class="label label-success">Accepted</span>
									{% endif %}
									{% if offer.status == "2" %}
										<span class="label label-danger">Declined</span>
									{% endif %}
									{% if offer.status == "3" %}
										<span class="label label-default">Completed</span>
									{% endif %}
									{{ offer.parentAdvertisement.title }}
								</h5>
							</div>
							<div class="panel-body">
								<h5>Offer Description</h5>
								<p>{{ offer.description }}</p>
								{% if offer.status == "1" %}
									<hr>
									<h5>Employer Details</h5>
									<h6 style="margin-left: 10px">{{ offer.ownerDetails.name }}</h6>
									<h6 style="margin-left: 10px">{{ offer.ownerDetails.email }}</h6>
									<h6 style="margin-left: 10px">{{ offer.ownerDetails.contactno }}</h6>
									<hr>
									<a class="btn btn-success" href="/offer/complete/{{ offer.id }}">Complete</a>
								{% endif %}
								{% if offer.status == "3" %}
									<hr>
									<h5>Employer Details</h5>
									<h6 style="margin-left: 10px">{{ offer.ownerDetails.name }}</h6>
									<h6 style="margin-left: 10px">{{ offer.ownerDetails.email }}</h6>
									<h6 style="margin-left: 10px">{{ offer.ownerDetails.contactno }}</h6>
									<hr>
									<h5>Your Rating for <a href="/user/{{ offer.ownerDetails.id }}">{{ offer.ownerDetails.name }}</a></h5>
									{% if offer.yourRating != null %}
										<p>{{ offer.yourRating.comment }}</p>
										<h6>Comments</h6>
										<h4>
											{% for star in offer.yourRating.rating %}
												{% if star == "0" %}
													<i class="fa fa-star-o"></i>
												{% endif %}
												{% if star == "1" %}
													<i class="fa fa-star"></i>
												{% endif %}
											{% endfor %}
										</h4>
										<h6>Rating</h6>
									{% endif %}
									{% if offer.yourRating == null %}
										<h6 style="color: #999">No rating provided</h6>
									{% endif %}
									<hr>
									<h5><a href="/user/{{ offer.ownerDetails.id }}">{{ offer.ownerDetails.name }}</a>'s Rating for You</h5>
									{% if offer.theirRating != null %}
										<p>{{ offer.theirRating.comment }}</p>
										<h6>Comments</h6>
										<h4>
											{% for star in offer.theirRating.rating %}
												{% if star == "0" %}
													<i class="fa fa-star-o"></i>
												{% endif %}
												{% if star == "1" %}
													<i class="fa fa-star"></i>
												{% endif %}
											{% endfor %}
										</h4>
										<h6>Rating</h6>
									{% endif %}
									{% if offer.theirRating == null %}
										<h6 style="color: #999">No rating provided</h6>
									{% endif %}
									<br>
								{% endif %}
								<a class="btn btn-primary" style="float: right" href="/advertisement/{{ offer.advertisement }}">View Advertisement</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>