<br>
<br>
<div class="container">
    <form method="POST" style="width: 700px;">
        <h2>Complete Offer</h2>
        <br>
        <p>This page is for when an offer has been completed. Please rate your experience working with the Employer and provide any relevant comments.</p>
        <br>

        <div class="form-group has-feedback">
            <label for="rating[comments]" class="sr-only">Comments</label>
            <textarea id="rating[comments]" name="rating[comments]" class="form-control input-lg" required placeholder="Comments" rows="6"></textarea>
        </div>

        <br>
        <h3>Rating</h3>
        <div class="rating"></div>
        <br>
        <p>Please provide a rating for your interaction with the Employer.</p>

        <br>
        <br>
        <button class="btn btn-lg btn-primary" type="submit">Complete Offer</button>
    </form>
</div>