.intro-search {
  text-align: center;
  width: 500px;
  margin: 0px auto;
  input {
    border-radius: 2px;
  }
}
.advertisements-container {
  padding-top: 20px;
  text-align: center;
}
.advert-panel {
  text-align: left;
  width: 400px;
  display: inline-table;
  margin: 15px;
  .panel-footer {
    text-align: right;
  }
}